/* Front-end CSS */
/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover, a:focus, a:active {
  color: #64a3a3;
}

form {
  color: #222222;
}
form p {
  font-size: 1em;
  margin-bottom: 1rem;
}
form label {
  margin: 0;
  width: 100%;
  text-transform: lowercase;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea,
select {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 3px solid #222222;
  border-radius: 0;
  background: transparent;
  background-clip: padding-box;
  color: #222222;
  box-sizing: border-box;
}

input[type=submit] {
  display: block;
  margin: 0 auto;
  padding: 12px 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  color: #222222;
  background-color: #ffffff;
  box-sizing: border-box;
}

textarea {
  min-height: 130px;
}

select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 4px solid #222222;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #222222;
}

::placeholder {
  color: #222222;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #222222;
}

::-ms-input-placeholder {
  color: #222222;
}

/* Layout */
#header {
  color: #64a3a3;
  background-color: #2e1839;
  z-index: 1080;
}
#header.is-fixed-top {
  position: fixed;
  top: -65px;
  width: 100%;
  -webkit-transform: translateY(65px);
  -ms-transform: translateY(65px);
  transform: translateY(65px);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#footer a {
  text-decoration: none;
}
#footer input[type=text],
#footer input[type=email],
#footer input[type=tel],
#footer input[type=number],
#footer textarea,
#footer select {
  border: 3px solid #64a3a3;
  color: #64a3a3;
  background: transparent;
}
#footer input:-webkit-autofill,
#footer input:-webkit-autofill:hover,
#footer input:-webkit-autofill:focus textarea:-webkit-autofill,
#footer textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
#footer select:-webkit-autofill,
#footer select:-webkit-autofill:hover,
#footer select:-webkit-autofill:focus {
  border-color: #64a3a3;
  -webkit-text-fill-color: #ffffff;
}
#footer ::placeholder {
  color: #64a3a3;
  opacity: 1;
}
#footer :-ms-input-placeholder {
  color: #64a3a3;
}
#footer ::-ms-input-placeholder {
  color: #64a3a3;
}
#footer .footer-widgets {
  padding: 30px 0;
  color: #ffffff;
  background-color: #2e1839;
}
#footer .footer-widgets .container, #footer .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-widgets .entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-widgets .entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
  display: grid;
  grid-gap: 15px;
}
@media (min-width: 768px) {
  #footer .footer-widgets .container, #footer .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-widgets .entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-widgets .entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
    grid-template-columns: repeat(3, 1fr);
  }
}
#footer .footer-widgets .widget-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #footer .footer-widgets .widget-content {
    align-items: flex-start;
  }
}
#footer .footer-copyright {
  padding: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #64a3a3;
  background-color: #000000;
}
#footer .footer-copyright .container, #footer .footer-copyright .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-copyright .entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-copyright .entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 576px) {
  #footer .footer-copyright .container, #footer .footer-copyright .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-copyright .entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
#footer .footer-copyright .entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
    flex-direction: row;
  }
}

/* Components */
.container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 575.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
    max-width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
    max-width: 1140px;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.navbar img {
  width: 100%;
  height: auto;
}
@media (max-width: 575.98px) {
  .navbar img {
    max-width: 250px;
  }
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' fill='%23fff' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M492 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zm0-160H20C8.954 76 0 84.954 0 96s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zm0 320H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20z'/%3E%3C/svg%3E");
}
@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-collapse:not(.show) {
  display: none;
}
.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1080;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
}
.navbar-collapse .navbar-nav .nav-item a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav .nav-item a {
    padding: 0.5rem 1rem;
  }
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-left .dropdown-menu {
  right: 0;
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-left .dropdown-menu .dropdown-menu {
  top: 0;
  right: 100%;
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-right .dropdown-menu {
  left: 0;
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-right .dropdown-menu .dropdown-menu {
  top: 0;
  left: 100%;
}
@media (min-width: 992px) {
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 15px;
  border: solid #64a3a3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(-40%) rotate(45deg);
  -webkit-transform: translateY(-40%) rotate(45deg);
}
@media (min-width: 992px) {
  .dropdown::after {
    right: 0;
  }
}
.dropdown .dropdown-menu {
  display: none;
  min-width: 160px;
  padding: 0;
  list-style: none;
  background-color: #60376f;
}
.dropdown .dropdown-menu a {
  display: block;
  padding: 8px 15px;
}
.dropdown .dropdown-menu a:hover {
  background-color: #6f3f80;
}
@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    position: absolute;
  }
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
  width: 100% !important;
}
.wp-block-cover__inner-container .alignfull,
.entry-header .alignfull,
.entry-content .alignfull {
  max-width: 100%;
}
.wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: 1360px;
  }
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination .current {
  color: #2e1839;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.slick-slider {
  margin: 0 !important;
  padding: 0 !important;
}
.slick-slider.slick-dotted ul.slick-dots {
  bottom: 5px;
}
.slick-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #9a4288;
}

.widget {
  margin-bottom: 15px;
}
.widget img {
  max-width: 100%;
  height: auto;
}
.widget ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget li {
  margin-bottom: 12px;
  color: #ffffff;
}
.widget label {
  color: #ffffff;
}
.widget input {
  border: none;
  background: #ffffff;
  font-weight: bold;
}
.widget input[type=submit] {
  background: #5bc2a7;
}
.widget-title {
  font-size: 1.2rem;
  font-style: italic;
  color: #64a3a3;
}

/* Templates */
.error404 main .container, .error404 main .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.error404 main .entry-header > *:not(.alignwide):not(.alignfull):not(.wp-block-separator),
.error404 main .entry-content > *:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
}

/*# sourceMappingURL=frontend-styles.css.map */
