// Slick Slider

.slick-slider {
    margin: 0 !important;
    padding: 0 !important;

    &.slick-dotted ul.slick-dots {
        bottom: 5px;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #9a4288;
    }
}