// Widgets

.widget {
    margin-bottom: 15px;

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        margin-bottom: 12px;
        color: #ffffff;
    }

    label {
        color: #ffffff;
    }

    input {
        border: none;
        background: #ffffff;
        font-weight: bold;
    }

    input[type="submit"] {
        background: #5bc2a7;
    }

    .current-cat {}
}

.widget-title {
    font-size: 1.2rem;
    font-style: italic;
    color: #64a3a3;
}