// Footer

#footer {
    a {
        text-decoration: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    textarea,
    select {
        border: 3px solid #64a3a3;
        color: #64a3a3;
        background: transparent;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border-color: #64a3a3;
        -webkit-text-fill-color: #ffffff;
    }

    ::placeholder {
        color: #64a3a3;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #64a3a3;
    }

    ::-ms-input-placeholder {
        color: #64a3a3;
    }

    .footer-widgets {
        padding: 30px 0;
        color: #ffffff;
        background-color: #2e1839;

        .container {
            display: grid;
            grid-gap: 15px;

            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .widget-content {
            display: flex;
            flex-direction: column;

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                align-items: flex-start;
            }
        }
    }

    .footer-copyright {
        padding: 12px 0;
        font-size: 12px;
        text-transform: uppercase;
        color: #64a3a3;
        background-color: #000000;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                flex-direction: row;
            }
        }
    }
}