// Header

#header {
    color: #64a3a3;
    background-color: #2e1839;
    z-index: 1080;

    &.is-fixed-top {
        position: fixed;
        top: -65px;
        width: 100%;
        -webkit-transform: translateY(65px);
        -ms-transform: translateY(65px);
        transform: translateY(65px);
        -webkit-transition: -webkit-transform 1s;
        transition: transform 1s;
    }
}