//

.is-style-columns-with-border-right {
    .wp-block-column {

        @media (min-width: 576px) {
            &:nth-child(2n) {
                margin-left: 0;
            }
        }

        @media (min-width: 992px) {
            &:not(:last-child) {
                margin-left: 32px;
                padding-right: 32px;
                border-right: 1px solid rgba(#9a4288, 40%);
            }
        }
    }
}