// Types

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: 'Sen', sans-serif;
    line-height: 1;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}