// Template 404

.error404 {
    main {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 350px;
        }
    }
}