@charset "UTF-8";
/* Gutenberg Block Editor Styles */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-family: "Sen", sans-serif;
  line-height: 1;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  position: relative;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 !important;
  padding: 1em 0 1em 22% !important;
  text-align: left !important;
  color: #ffffff !important;
  background: #222222 !important;
}
@media (min-width: 576px) {
  figure figcaption {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
figure figcaption::before {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 0;
  width: 20%;
  height: 1px;
  background-color: #ffffff;
}
figure > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
figure > a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
figure > a::after {
  content: "✕";
  position: absolute;
  font-size: 2rem;
  color: #ffffff;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}
figure:hover > a::before {
  background-color: rgba(34, 34, 34, 0.6);
}
figure:hover > a::after {
  opacity: 1;
}
figure:hover > figcaption {
  opacity: 1;
}

.wp-block {
  max-width: 1140px;
}

.wp-block[data-align=wide] {
  max-width: 1360px;
}

.wp-block[data-align=full] {
  max-width: none;
}

.wp-block-cover,
.wp-block-cover-image {
  padding: unset;
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-gallery .blocks-gallery-item {
  position: relative;
  margin: 0 !important;
}
.wp-block-gallery .blocks-gallery-item img {
  min-height: 300px;
}

.wp-block-shortcode textarea {
  color: #000;
  width: 100%;
}

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wp-block-columns {
  margin-bottom: 0;
}
.wp-block-columns.has-background {
  padding: 20px 50px !important;
}

.wp-block-separator {
  height: 1px !important;
  border-width: 1px;
}

.is-style-transparent-black {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

@media (min-width: 576px) {
  .is-style-columns-with-border-right .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .is-style-columns-with-border-right .wp-block-column:not(:last-child) {
    margin-left: 32px;
    padding-right: 32px;
    border-right: 1px solid rgba(154, 66, 136, 0.4);
  }
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-cadet-blue-color {
  color: #64a3a3 !important;
}

.has-cadet-blue-background-color {
  background-color: #64a3a3 !important;
}

.has-plum-color {
  color: #9a4288 !important;
}

.has-plum-background-color {
  background-color: #9a4288 !important;
}

.has-imperial-color {
  color: #60376f !important;
}

.has-imperial-background-color {
  background-color: #60376f !important;
}

.has-dark-purple-color {
  color: #2e1839 !important;
}

.has-dark-purple-background-color {
  background-color: #2e1839 !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

/*# sourceMappingURL=shared-styles.css.map */
